<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <link rel="stylesheet" href="http://localhost/afpa/mvcobjet/public/css/styles.css" >
  <title>{% block title %}{% endblock %} My Webpage</title>
  {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>